@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my Fitness App</h1>
    <br />
    <div>
        <img class="center" src="~/images/photo11.jpg" />
    </div>
</div>
