@model FitnessApp2.Models.ViewModels.AssignInstructorViewModel

@{
    ViewData["Title"] = "Assign Instructor";
    var errorMessage = TempData["errorMessage"]?.ToString();
}

<h3>@ViewData["Title"]</h3>
<hr />
<!-- *********** SERVER SIDE VALIDATION *************** -->
@if (!string.IsNullOrWhiteSpace(errorMessage))
{
    <div class="alert alert-danger">
        <strong>Error! </strong>@errorMessage
        <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

}
<form asp-controller="AssignInstructor" asp-action="EditAssignInstructor" method="post">
    <div class="mb-3">
        <label class="form-label">Id</label>
        <input type="text" class="form-control" asp-for="Id" readonly />
    </div>
    <div class="mb-3">
        <label class="form-label">First Name</label>
        <input type="text" class="form-control" asp-for="FirstName" readonly />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">Last Name</label>
        <input type="text" class="form-control" asp-for="LastName" readonly />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div>
        <label class="form-label">Select course</label>
        <select class="form-select" asp-items="Model.AvailableCoursesToAssign" asp-for="CourseSelected">
            <option value="NOSELECTEDVALUE">-- Open this select menu --</option>
        </select>
    </div>
    <div class="d-grid">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
<!-- *********** CLIENT SIDE VALIDATION *************** -->
<!-- aici facem legatura cu scripturi de client side validation pt instructor data care vine de la forms din webpage fields -->
<!-- momentan e comentata pt ca vreau sa fac doar server side validation -->
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
